<config><url>https://www.consumerfinance.gov/data-research/consumer-complaints/</url><section>section-five ccdb-landing_section</section><link>list_link icon-link icon-link__download</link><typ>href</typ><csv>current.csv</csv><csvfull>C:/Users/glebovch/AnacondaProjects/Project_Datafork/current.csv</csvfull><connection>dbname=complaints user=postgres</connection><clienturl>data.consumerfinance.gov</clienturl><socrata_ind>jhzv-w97w</socrata_ind><engine>postgresql://postgres:postgres@localhost:5432/complaints</engine></config>